.projects__section {
    margin-top: 180px;
}

.projects__wrapper h3 {
    color: #333;
    text-align: center;
    font-family: var(--second-font);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: capitalize;
}

.projects__wrapper h4 {
    color: #333;
    text-align: center;
    font-family: var(--second-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 2; /* 200% */
    letter-spacing: 0.18px;
    text-transform: capitalize;
}

.projects__filters {
    margin-top: 60px;
    column-gap: 50px;
    margin-bottom: 40px;
}

.project__filter {
    color: #B2B2B2;
    font-family: var(--second-font);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.18px;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
}

.project__filter:hover {
    color: #545EE1;
}

.project__filter.active {
    color: #545EE1;
}

.projects__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

