.reviews {
    position: relative;
    margin-top: 180px;
    padding: 45px 0 55px 0;
    background: #8D94F6;
}

.reviews__textside h3 {
    margin-top: 115px;
    color: #FFF;
    font-family: var(--main-font);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.29; /* 129.167% */
    text-transform: capitalize;
}

.reviews__textside p {
    margin-top: 15px;
    padding-bottom: 20px;
    color: #E5E5E5;
    font-family: var(--second-font);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
    letter-spacing: 0.18px;
    text-transform: capitalize;
}

.review__bg {
    position: absolute;
    top: 5%;
    left: 44%;
}

.review__slider {
    max-width: 450px !important;
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
}

:root {
    --swiper-theme-color: #3500ff !important;
}